@media screen and (max-width: 768px) {
    *{
        padding:0 ;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .menu{
        height: 85px;
    }

    .header h1{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        color: #000;
        font-size: 20px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 700;
        line-height: 58px;
    }

    .header p{
        display: flex;
        justify-content: center;
        padding: 0 30px 30px 30px;
        text-align: center;
    }
    
    .rectangle1{
        width: 100%;
        display:flex;
        /* width: 319px; */
        height: 41.161px;
        border-radius: 9.8px;
        background: #FFF;
        box-shadow: 0px 1.9600613117218018px 9.80030632019043px 0px rgba(0, 0, 0, 0.05);
        flex-shrink: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        align-content: center;
        align-items: center; 
        padding-bottom: 50px;
    }

    .SFA {
        padding-bottom: 70px;
    }

    .rectangle{
        height: 290px;
        flex-shrink: 0;
        background: var(--green, #0C9);
    }

    .header2 h1{
        color: #000;
        font-size: 14px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: 21.587px;
    }

    .header2 p{
        display: flex;
        width: 292.197px;
        height: 35.85px;
        flex-direction: column;
        flex-shrink: 0;
        color: #8A8A8A;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    section#main {
        padding-left: 30px;
    }

    .register {
        width: 131.175px;
        /* height: 100.798px; */
        flex-shrink: 0;
        border-radius: 9.205px;
        background: #d5b4b4;
        box-shadow: 0px 3.6821184158325195px 11.50661849975586px 0px rgba(0, 204, 153, 0.10);
    }

    .RCFA {
        padding-top: 50px;
    }

    .RFCA1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;
    }

    .RFCA2{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
    
    .header3 h1{
        display: flex;
        width: 42.344px;
        height: 25.775px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        font-size: 10.126px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: 25.775px;
    }

    .header3 p{
        display: flex;
        width: 104.94px;
        height: 22.093px;
        flex-direction: column;
        flex-shrink: 0;
        color: #8A8A8A;
        font-size: 4.603px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .bt1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        /* align-items: center; */
        padding-top: 50px;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    .square {
        width: 285.283px;
        padding-top: 50px;
        height: 210px;
        flex-shrink: 0;
        border-radius: 11.321px;
        background: #C4C4C4;
    }
    .aboutus {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .aboutus h1{
        display: flex;
        width: 264.059px;
        height: 44.075px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-size: 14px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: 22.038px;  
    }

    .aboutus p{
        display: flex;
        width: 253.827px;
        height: 36.598px;
        flex-direction: column;
        flex-shrink: 0;
        color: #8A8A8A;
        text-align: center;
        font-size: 8px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    section#pops {
        padding-top: 50px;
        padding-left: 50px;
        padding-bottom: 100px;
    }
    
    .popular {
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        /* justify-content: center; */
        /* align-items: center; */    
    }

    .header4 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .header4 h1 {
        display: flex;
        width: 169.167px;
        height: 20.912px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-size: 14px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: 20.912px;
    }

    .header4 p{
        display: flex;
        width: 264px;
        height: 33px;
        flex-direction: column;
        flex-shrink: 0;
        color: #8A8A8A;
        text-align: center;
        font-size: 8px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding-bottom: 50px;
    }

    .btn2 { 
        display: flex;
        padding-bottom: 50px;
        justify-content: center;
    }

    .header5 {
        width: 106.429px;
        height: 92.612px;
        border-radius: 7.469px;
        background: var(--green, #0C9);
        box-shadow: 0px 2.9874935150146484px 9.335917472839355px 0px rgba(0, 204, 153, 0.10);
        flex-shrink: 0;
    }

    .header5 h1{
        display: flex;
width: 56.389px;
height: 23.9px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 8.216px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 11.95px;
    }

    .header5 p{
        display: flex;
width: 39.584px;
height: 20.912px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 4.481px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 20.912px;
    }
    img {
        width: 22.033px;
        height: 22.033px;
        flex-shrink: 0;
    }

    .header6 {
        width: 106.429px;
        height: 92.612px;
        border-radius: 7.469px;
        background: var(--green, rgb(228, 237, 235));
        box-shadow: 0px 2.9874935150146484px 9.335917472839355px 0px rgba(0, 204, 153, 0.10);
        flex-shrink: 0;
    }

    .header6 h1{
        display: flex;
width: 56.389px;
height: 23.9px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 8.216px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 11.95px;
    }

    .header6 p{
        display: flex;
width: 39.584px;
height: 20.912px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 4.481px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 20.912px;
    }


    .header7 {
        width: 169.983px;
        height: 194.375px;
        flex-shrink: 0;
        border-radius: 7.623px;
        background: #FFF;
        box-shadow: 0px 3.0490200519561768px 9.52818775177002px 0px rgba(0, 204, 153, 0.10);
    }

    .list1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .header7 h1{
        display: flex;
    width: 64.029px;
    height: 21.343px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 8.385px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 21.343px;
    }

    .header7 .para1 p{
        display: flex;
width: 51.452px;
height: 21.343px;
flex-direction: column;
flex-shrink: 0;
color: #8A8A8A;
font-size: 5.717px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 21.343px;
    }

.header7 .para2 p{
    display: flex;
width: 139.493px;
height: 28.203px;
flex-direction: column;
flex-shrink: 0;
color: #8A8A8A;
font-size: 5.336px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.rectangles {
    display: flex;
    color: #000;
    font-size: 5.336px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: row;
    justify-content: space-around;
}

.link {
    display: flex;
    width: 45.735px;
    height: 21.343px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--green, #0C9);
    font-size: 8.385px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 21.343px;
    padding-left: 1px;
}

.headerb4-8 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header8 h1{
    display: flex;
width: 257.032px;
height: 21.677px;
flex-direction: column;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 14px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 21.677px;
}


.header8 p{
    display: flex;
width: 249.677px;
height: 24.387px;
flex-direction: column;
flex-shrink: 0;
color: #8A8A8A;
text-align: center;
font-size: 8px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.qoutes p{
    display: flex;
width: 249.677px;
height: 54.968px;
flex-direction: column;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 8.516px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.peeps h1{
    display: flex;
height: 13.935px;
flex-direction: column;
flex-shrink: 0;
color: #000;
text-align: center;
font-size: 9.29px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.peeps p{
    display: flex;
width: 110.323px;
height: 9.29px;
flex-direction: column;
flex-shrink: 0;
color: #767373;
text-align: center;
font-size: 6.194px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.cv {
    width: 319px;
    display: flex;
    height: 95px;
    flex-shrink: 0;
    border-radius: 5.145px;
    background: #003A2C;
    align-content: center;
    flex-wrap: nowrap;
    position: absolute;
    top: 360%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cv h1{
    color: #FFF;
text-align: center;
font-size: 12px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 14.406px;
}

.cv p{
    display: flex;
width: 224px;
height: 23px;
flex-direction: column;
flex-shrink: 0;
color: #AAA;
text-align: center;
font-size: 8px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.reg {
    width: 48.879px;
    height: 16.207px;
    flex-shrink: 0;
    border-radius: 2.573px;
    border: 0.515px solid #FFF;
}

.reg a{
    display: flex;
width: 34.215px;
height: 14.406px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 5.145px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
line-height: 14.406px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: var(--green, #0C9);
}

.footer2 {
    /* width: 375px; */
    height: 367px;
    padding-top: 100px;
    display: flex;
    flex-shrink: 0;
}

.header9{
    
    display: flex;
    width: 224px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 7.998px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header10{
    display: flex;
width: 192px;
height: 59px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 7.998px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 180.5%;
}

.header12{
    display: flex;
width: 43.415px;
height: 20.565px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 7.998px;
font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 180.5%;
}

.header13 h1{
    display: flex;
width: 77.69px;
height: 20.565px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-size: 13.71px;
font-family: Poppins;
font-style: normal;
font-weight: 700;
line-height: normal;
}

}


